*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region header */
header {
    height: 50px;
    margin: auto;
    display: flex;
}

nav {
    width: 90%;
    height: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 20px;
    display: flex;
}

a {
    color: var(--dropbox-text-black);
}

.right > a, .left> a  {
    text-decoration: none;
    padding: 0 0.5rem;
}

.btn_accedi {
    background-color: var(--dropbox-bnt);
    color: var(--dropbox-white);
    padding: 0 0.5rem;
}
/* #endregion header */

/* #region main */

/* #region jumbotron */

.jumbotron {
    background-color: var(--dropbox--jumbo);
    width: 100%;
    height: 510px;
}

.container, .the_plane, .enter_in_contact {
    width: 50%;
    margin: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: xxx-large;
}

.row {
    display: flex;
    margin: 2rem 0 0;
}

.col_jumb_4 {
    width: calc(100% / 12 * 4);
    height: 100%;
    margin: -2rem 0 0;
}

.p_jumb {
    font-size: 15px;
    padding: 2rem 0;
}

.col_jumb_4 > i {
    font-size: 30px;
    padding: 1rem 0 0;
}

.col_jumb_8 {
    width: calc(100% /12 * 8);
}

.col_jumb_8 > img {
    width: 140%;
}
/* #endregion jumbotron */

/* #region the_plane */

.the_plane {
    margin: 5rem auto 0;
}
.check {
    display: inline-block;
    padding: 0 2rem 0 0;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.row_spec{
    width: 100%;
    display: flex;
    margin: 2rem 0;
}

.col_3_spec {
    width: calc(100% / 12 * 3);
    padding: 0 0 4rem;
}

.col_9 {
    width: calc(100% / 12 * 9);
    border: 1px solid var(--dropbox-light-line);
}

/* #region col_4 to col_8 */

.offers {
    border: 1px solid var(--dropbox-light-line);
    padding: 0.5rem 0;
}

.offers_content {
    padding: 1.8rem;
}

.cost {
    padding: 0 0 2.5rem;
}

.cost > h3 {
    padding: 0 0 1rem;
}

.cost > p {
    padding: 0 0 0.2rem;
}

.try {
    padding: 1rem 0 0;
    font-size: 10px;
}

.try_link {
    padding: 2rem 0;
}

.cont {
    display:flex;
    padding: 0.5rem 0;
}

.text_table {
    font-size: 10px;
}

.icon {
    padding: 0 0.5rem 0 0;
}

.blue {
    color: var(--dropbox-bnt);
}

.team {
    display: flex;
    justify-content: center;
}

#btn_12{
    margin: 2rem 0 0;
}

/* #endregion col_4 to col_12 */

/* #endregion the_plane */

/* #region enter in contact */


.col_8 {
    width: calc(100% / 12 * 8);
}

/* #endregion enter in contact */


/* #region contact entry */

.img_contact {
    background-size: cover;
    width: 100%;
}

.enter_in_contact {
    margin: 5rem auto 0;
}

.n_partner {
    text-align: start;
    margin: 8rem 0 0;
}

.col_7{
    width: calc(100% / 12 * 7);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

/* #endregion contact entry */

/* #region multi-operation */

.card > img {
    width: 100%;
}

/* #region multi-operation */

/* #region team that use dropbox */

.container_sponsor {
    display: flex;
}

.col_mini_sponsor {
    display: flex;
}

.col_sponsor {
    width: calc(100%/ 12 * 6);
    padding: 1.5rem 2rem 0;
    margin: 0 0 0.35rem;
}

.col_sponsor img {
    width: 25%;

}

.col_12 {
    width: 100%;
    height: 200px;
    margin: -0.3rem 0 0;
    display: flexs;
    
}

.square {
    width: 200px;
    height: 200px;
    padding: 50px;
}

.square > img {
    width: 100%;
}

.m_neg {
    margin: 0 0 -0.3rem;
}

/* #endregion team that use dropbox */


/* #endregion main */

/* #region footer */

footer {
    background-color: var(--dropbox-text-black);
    color: var(--dropbox-white);
    height: 600px;
    padding: 1rem 0 0;
}

.cont_foot {
    display: flex;
    justify-content: center;
}

.credits {
    margin: 0 1rem;
    height: 100%;
}

.credits > h3 {
    margin: 2rem 0;
}

.credits > hr {
    margin: 7rem 0 4rem;
}

.credits > i, span {
    color: rgba(128, 128, 128, 0.888);
}

.list_style_none > li {
    list-style: none;
}

.list_style_none > li {
    margin: 1rem 0;
}

.short_hr_foot {
    width: 80%;
    color: var(--dropbox-white);
}


/* #endregion footer */

/* #region utilities */

.debug{
    background-color: rgba(247, 82, 22, 0.796);
    border: 2px dashed;
}

.border {
    border: 1px solid var(--dropbox-light-line);
}

.btn {
    background-color: var(--dropbox-bnt);
    color: var(--dropbox-white);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.btn_2 {
    background-color: var(--dropbox-white);
    border: 1px solid var(--dropbox-light-line);
    color: var(--dropbox-light-line);
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.btn_3 {
    background-color: var(--drbx-big-square);
    color: var(--dropbox-text-black);
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    width: 50%;
}

.gap {
    gap: 20px;
}

.alone {
    margin: 3rem 0 0;
}

.team_2 {
    margin: 0 0 2rem;
}

.padd {
    padding: 0 1rem;
}

.text_ctr {
    text-align: center;
}

.text_str {
    text-align: start;
}

.flex_ltf {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex_rgt {
    display: flex;
    justify-content: end;
    align-items: center;
}

.jst_align_ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.light_blue {
    background-color: var(--dropbox--jumbo);
}

.short_hr {
    width: 15%;
    color: var(--dropbox-light-line);
}

.h2_lin_h {
    color: var(--drbx-square2-alternativeFont);
    line-height: 200px;
}

/* #region color square */

.square_1 {
    background-color: var(--drbx-square1);
}

.square_2 {
    background-color: var(--drbx-square2-alternativeFont);
}

.square_3 {
    background-color: var(--drbx-square3);
}

.square_4 {
    background-color: var(--drbx-square4);
}

.square_5 {
    background-color: var(--drbx-square5);
}

.square_big {
    background-color: var(--drbx-big-square);
}

.square_6{
    background-color: var(--dropbox--jumbo);
}

.square_7 {
    background-color: var(--drbx-square7);
}

.square_8 {
    background-color: var(--drbx-square8);
}

/* #endregion color square */

:root {
    --dropbox-bnt: #0061ff;
    --dropbox-white: #ffffff;
    --dropbox-text-black: #181818;
    --dropbox--jumbo: #b4d0e7;
    --dropbox-light-line: rgba(128, 128, 128, 0.286);
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;
}

/* #endregion utilities */

/* :root {
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831; */