*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region header */
header {
    height: 50px;
    margin: auto;
    display: flex;
}

nav {
    width: 90%;
    height: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 20px;
    display: flex;
}

a {
    color: var(--dropbox-text-black);
}

.right > a, .left> a  {
    text-decoration: none;
    padding: 0 0.5rem;
}

.btn_accedi {
    background-color: var(--dropbox-bnt);
    color: var(--dropbox-white);
    padding: 0 0.5rem;
}
/* #endregion header */

/* #region main */

/* #region jumbotron */

.jumbotron {
    background-color: var(--dropbox--jumbo);
    width: 100%;
    height: 450px;
}

.container, .the_plane {
    width: 50%;
    margin: auto;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: xxx-large;
}

.row {
    display: flex;
    margin: 2rem 0 0;
}

.col_jumb_4 {
    width: calc(100% / 12 * 4);
    height: 100%;
    margin: -2rem 0 0;
}

p {
    font-size: x-small;
    margin: 2rem 0;
}

.col_jumb_4 > i {
    margin: 1.5rem 0 0;
    font-size: xx-large;
}

.col_jumb_8 {
    width: calc(100% /12 * 8);
}

.col_jumb_8 > img {
    width: 620px;
}
/* #endregion jumbotron */

/* #region the_plane */

.the_plane {
    height: 800px;
    margin: 5rem auto 0;
}
.check {
    display: inline-block;
    margin: 2rem 0 0;
    padding: 0 2rem 0 0;
}

.col_4 {
    width: calc(100% / 12 * 4);
    border: 1px solid var(--dropbox-light-line);
    padding: 0 1rem 1rem;
}

.col_12 {
    width: 100%;
    height: 200px;
    border: 1px solid var(--dropbox-light-line);
    padding: 0 1rem;
}

/* #region col_4 to col_12 */

.single, .team, .company {
    border: 1px solid var(--dropbox-light-line);
    padding: 1rem 0;
    margin: 0 -1rem;
}

.team_2 {
    margin: 3rem 0;
}

.professional {
    padding: 0 1rem 1.5rem;
}

.advanced {
    padding: 0 1rem 1.5rem;
}

.enterprise {
    padding: 0 1rem 1.5rem;
}

h3, h5 {
    margin: 1.5rem 0 0;
}

.cont {
    display:flex;
    padding: 0.5rem 0;
}

.icon {
    padding: 0 0.5rem 0 0;
}

.blue {
    color: var(--dropbox-bnt);
}

.text_table {
    font-size: small;
}

.team {
    display: flex;
    justify-content: center;
}

#btn_12{
    margin: 2rem 0 0;
}

/* #endregion col_4 to col_12 */

/* #endregion the_plane */

/* #endregion main */

/* #region utilities */

.debug{
    background-color: rgba(247, 82, 22, 0.796);
    border: 2px dashed;
}

.btn {
    background-color: var(--dropbox-bnt);
    color: var(--dropbox-white);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.flex_ltf {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex_rgt {
    display: flex;
    justify-content: end;
    align-items: center;
}

.jst_align_ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --dropbox-bnt: #0061ff;
    --dropbox-white: #ffffff;
    --dropbox-text-black: #181818;
    --dropbox--jumbo: #b4d0e7;
    --dropbox-light-line: rgba(128, 128, 128, 0.286);
}

/* #endregion utilities */