*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region header */

header {
    height: 50px;
    margin: auto;
    display: flex;
}

nav {
    width: 90%;
    height: 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 20px;
}

a {
    color: var(--dropbox-text-black);
}

.right > a, .left> a  {
    text-decoration: none;
    padding: 0 0.5rem;
}

.btn_accedi {
    background-color: var(--dropbox-bnt);
    color: var(--dropbox-white);
    padding: 0 0.5rem;
}

/* #region header */

/* #region utilities */

.debug{
    background-color: rgba(247, 82, 22, 0.796);
    border: 2px dashed;
}

.flex_ltf {
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex_rgt {
    display: flex;
    justify-content: end;
    align-items: center;
}

:root {
    --dropbox-bnt: #0061ff;
    --dropbox-white: #ffffff;
    --dropbox-text-black: #181818;
}

/* #endregion utilities */